body {
  font-family: Kumbh Sans;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.4rem;
}
.display-1 > .mbr-iconfont {
  font-size: 5.44rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.6rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.16rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.8399999999999999rem + (3.4 - 1.8399999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 15px 30px;
  border-radius: 0;
}
.btn-sm {
  padding: 15px 30px;
  border-radius: 0;
}
.btn-md {
  padding: 15px 30px;
  border-radius: 0;
}
.btn-lg {
  padding: 20px 40px;
  border-radius: 0;
}
.bg-primary {
  background-color: #ffc658 !important;
}
.bg-success {
  background-color: #ffda00 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #767676 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffc658 !important;
  border-color: #ffc658 !important;
  color: #171717 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #171717 !important;
  background-color: #ffd78b !important;
  border-color: #ffd78b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #171717 !important;
  background-color: #ffd78b !important;
  border-color: #ffd78b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #1daae2 !important;
  border-color: #1daae2 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #4abbe8 !important;
  border-color: #4abbe8 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #4abbe8 !important;
  border-color: #4abbe8 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #9b9288 !important;
  border-color: #9b9288 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #9b9288 !important;
  border-color: #9b9288 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ffda00 !important;
  border-color: #ffda00 !important;
  color: #171717 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #171717 !important;
  background-color: #ffe133 !important;
  border-color: #ffe133 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #171717 !important;
  background-color: #ffe133 !important;
  border-color: #ffe133 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #767676 !important;
  border-color: #767676 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #909090 !important;
  border-color: #909090 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #c3b995 !important;
  border-color: #c3b995 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #c3b995 !important;
  border-color: #c3b995 !important;
}
.btn-white {
  color: #222222 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #171717 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #171717 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #171717 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #3c3c3c !important;
  border-color: #3c3c3c !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3c3c3c !important;
  border-color: #3c3c3c !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #f19f00;
  color: #f19f00;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #583a00;
  background-color: #ffc658;
  border-color: #ffc658;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #583a00 !important;
  background-color: #ffc658 !important;
  border-color: #ffc658 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #116688;
  color: #116688;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #1daae2;
  border-color: #1daae2;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1daae2 !important;
  border-color: #1daae2 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #998300;
  color: #998300;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000;
  background-color: #ffda00;
  border-color: #ffda00;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #000000 !important;
  background-color: #ffda00 !important;
  border-color: #ffda00 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #434343;
  color: #434343;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #767676;
  border-color: #767676;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #767676 !important;
  border-color: #767676 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #222222;
  border-color: #222222;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ffc658 !important;
}
.text-secondary {
  color: #1daae2 !important;
}
.text-success {
  color: #ffda00 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #767676 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-grey {
  color: #a9a9a9;
}
.text-black {
  color: #000000 !important;
}
.text-white {
  color: #ffffff !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #ffe9be !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #77ccee !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #ffe966 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #b2aba4 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a9a9a9 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #000000 !important;
}
a[class*='text-'] {
  font-weight: inherit;
  background-image: linear-gradient(120deg, #ffc658 0%, #ffc658 100%);
  background-repeat: no-repeat;
  background-size: 100% 30%;
  background-position: 0 90%;
  transition: background-size 0.2s ease-in;
}
a[class*='text-']:hover {
  background-size: 100% 100%;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #767676;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffc658;
  border-color: #ffc658;
  color: #724b00;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ffc658;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fff8cc;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #b6b6b6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #ffc658;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type='submit'] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type='submit']:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffc658;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffc658;
  border-bottom-color: #ffc658;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffc658 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #1daae2 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffc658' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.btn .mbr-iconfont {
  font-size: 1.5rem;
}
.cid-skD1N8pVos {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 106px;
}
.cid-skD1N8pVos nav.navbar {
  position: fixed;
}
.cid-skD1N8pVos .dropdown-menu {
  padding: 0;
}
@media (min-width: 992px) {
  .cid-skD1N8pVos .navbar:not(.collapsed) .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
  }
  .cid-skD1N8pVos .navbar:not(.collapsed) .dropdown-item:last-child {
    border: 0;
  }
}
.cid-skD1N8pVos .nav-dropdown .link {
  padding: 0.7rem 0 !important;
  margin: 0rem 2rem !important;
}
.cid-skD1N8pVos .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-skD1N8pVos .nav-link,
.cid-skD1N8pVos .dropdown-item {
  font-weight: 700;
}
.cid-skD1N8pVos .nav-link {
  position: relative;
  background-size: 100% 0% !important;
  background-position: 0 70% !important;
  transition: background-size 0.2s ease-in !important;
  background-image: linear-gradient(120deg, #ffc658 0%, #ffc658 100%) !important;
}
.cid-skD1N8pVos .nav-link:hover {
  background-size: 100% 80% !important;
  opacity: 1;
  transition: background-size 0.2s ease-in !important;
}
.cid-skD1N8pVos .container {
  display: flex;
  margin: auto;
}
.cid-skD1N8pVos .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-skD1N8pVos .navbar-caption,
.cid-skD1N8pVos .dropdown-item {
  background-image: none;
}
.cid-skD1N8pVos .dropdown-menu,
.cid-skD1N8pVos .navbar.opened {
  background: #ffffff !important;
}
.cid-skD1N8pVos .nav-item:focus,
.cid-skD1N8pVos .nav-link:focus {
  outline: none;
}
.cid-skD1N8pVos .dropdown .dropdown-menu .dropdown-item {
  width: auto;
}
.cid-skD1N8pVos .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-skD1N8pVos .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-skD1N8pVos .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-skD1N8pVos .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-skD1N8pVos .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-skD1N8pVos .navbar {
  min-height: 106px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-skD1N8pVos .navbar.opened {
  transition: all 0.3s;
}
.cid-skD1N8pVos .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-skD1N8pVos .navbar .navbar-logo img {
  width: auto;
}
.cid-skD1N8pVos .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-skD1N8pVos .navbar.collapsed {
  justify-content: center;
}
.cid-skD1N8pVos .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-skD1N8pVos .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-skD1N8pVos .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-skD1N8pVos .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-skD1N8pVos .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-skD1N8pVos .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-skD1N8pVos .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-skD1N8pVos .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-skD1N8pVos .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-skD1N8pVos .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-skD1N8pVos .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-skD1N8pVos .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-skD1N8pVos .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-skD1N8pVos .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-skD1N8pVos .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-skD1N8pVos .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-skD1N8pVos .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-skD1N8pVos .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-skD1N8pVos .navbar.navbar-short {
  min-height: 106px;
}
.cid-skD1N8pVos .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-skD1N8pVos .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-skD1N8pVos .navbar-brand {
  min-height: 106px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-skD1N8pVos .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-skD1N8pVos .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-skD1N8pVos .dropdown-item.active,
.cid-skD1N8pVos .dropdown-item:active {
  background-color: transparent;
}
.cid-skD1N8pVos .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-skD1N8pVos .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-skD1N8pVos .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-skD1N8pVos .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-skD1N8pVos .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-skD1N8pVos .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-skD1N8pVos ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-skD1N8pVos .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-skD1N8pVos button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-skD1N8pVos button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-skD1N8pVos button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-skD1N8pVos button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-skD1N8pVos button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-skD1N8pVos button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-skD1N8pVos nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-skD1N8pVos nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-skD1N8pVos nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-skD1N8pVos nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-skD1N8pVos .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-skD1N8pVos a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-skD1N8pVos .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-skD1N8pVos .navbar {
    height: 70px;
  }
  .cid-skD1N8pVos .navbar.opened {
    height: auto;
  }
  .cid-skD1N8pVos .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-skD1N8pVos .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-skD1N8pVos .nav-item a {
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-skD1Q2u9VP {
  padding-top: 105px;
  padding-bottom: 105px;
  background-color: #ffffff;
}
.cid-skD1Q2u9VP .content-wrapper {
  max-width: 750px;
  margin: auto;
  position: relative;
}
@media (max-width: 1200px) {
  .cid-skD1Q2u9VP .img-col img:last-child {
    width: 500px;
  }
}
@media (max-width: 992px) {
  .cid-skD1Q2u9VP .content-wrapper {
    padding-bottom: 1.5rem;
  }
  .cid-skD1Q2u9VP .img-col img {
    right: 0 !important;
  }
}
@media (max-width: 767px) {
  .cid-skD1Q2u9VP .img-col img {
    right: 0 !important;
  }
  .cid-skD1Q2u9VP .img-col img:last-child {
    display: none !important;
  }
}
.cid-skD1Q2u9VP .img-col {
  position: relative;
}
.cid-skD1Q2u9VP .img-col img {
  width: 100%;
  max-width: 540px;
  position: relative;
  padding: 0 10px;
  z-index: 1;
  right: 0;
}
.cid-skD1Q2u9VP .img-col img:last-child {
  position: absolute;
  width: 50%;
  z-index: 2;
  bottom: -40px;
  left: -10px;
  right: auto;
}
.cid-te2HcJ0Z8p {
  background-color: #ed9523;
}
.cid-te2HcJ0Z8p .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-te2HcJ0Z8p .carousel-item > div {
  width: 100%;
}
.cid-te2HcJ0Z8p h4 {
  margin-bottom: 0.7rem;
  font-weight: 900;
}
.cid-te2HcJ0Z8p .carousel-item.active,
.cid-te2HcJ0Z8p .carousel-item-next,
.cid-te2HcJ0Z8p .carousel-item-prev {
  display: flex;
}
.cid-te2HcJ0Z8p .carousel-controls a {
  transition: opacity 0.5s;
  font-size: 1.2rem;
}
.cid-te2HcJ0Z8p .carousel-controls a span {
  padding: 15px;
  border-radius: 50%;
  opacity: 0.9;
}
.cid-te2HcJ0Z8p .carousel-controls a:hover span {
  opacity: 1;
}
@media (min-width: 768px) {
  .cid-te2HcJ0Z8p .carousel-controls a {
    width: 5%;
  }
}
.cid-te2HcJ0Z8p .mbr-text {
  padding: 2rem;
  border-radius: 30px;
  color: #fff;
  position: relative;
}
.cid-te2HcJ0Z8p .mbr-section-subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #70747f;
}
.cid-te2HcJ0Z8p .img-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cid-te2HcJ0Z8p img {
  width: 100%;
  margin: 0;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  background-size: cover;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}
.cid-te2HcJ0Z8p li {
  background-color: transparent;
  width: 11px !important;
  height: 11px !important;
  border: 1px solid #e0e0e0 !important;
  margin-left: 0.4rem;
  margin-right: 0.4rem;
}
.cid-te2HcJ0Z8p li.active {
  background-color: #ffffff;
  width: 14px !important;
  height: 14px !important;
  border: none !important;
}
.cid-te2HcJ0Z8p .carousel-indicators {
  position: absolute;
  bottom: -2.3rem;
  align-items: center;
}
.cid-te2HcJ0Z8p .carousel-indicators li {
  border: none;
  border-radius: 50%;
}
.cid-te2HcJ0Z8p .carousel {
  display: flex;
  overflow: hidden;
  padding-bottom: 4rem;
}
@media (max-width: 767px) {
  .cid-te2HcJ0Z8p {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .cid-te2HcJ0Z8p .col-md-3 {
    padding: 0;
  }
}
@media (min-width: 767px) {
  .cid-te2HcJ0Z8p {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.cid-te2HcJ0Z8p a {
  color: #fff;
  line-height: 1.5;
}
.cid-te2HcJ0Z8p .wrapper-img {
  position: relative;
  background-color: #000;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.cid-te2HcJ0Z8p .title-block {
  position: absolute;
  opacity: 0;
  transform: translateX(-20px);
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}
.cid-te2HcJ0Z8p .desk {
  color: #fff;
}
.cid-te2HcJ0Z8p .signature {
  color: #fff;
}
.cid-te2HcJ0Z8p .img-block:hover .title-block {
  opacity: 1;
  transform: translateX(0px);
}
.cid-te2HcJ0Z8p .img-block:hover img {
  filter: brightness(100%) contrast(100%) saturate(100%) blur(0px) hue-rotate(0deg);
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2);
  opacity: 0.5;
}
.cid-te2HcJ0Z8p .img-block:hover .wrapper-img {
  transform: scale(0.95);
}
.cid-te2HcJ0Z8p .container-fluid {
  padding: 0;
  overflow: hidden;
}
@media (max-width: 992px) {
  .cid-te2HcJ0Z8p .img-card {
    margin-top: 2rem;
  }
}
.cid-ted9N7n8nN {
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #303030;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-ted9N7n8nN .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-ted9N7n8nN .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-ted9N7n8nN .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-ted9N7n8nN .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-ted9N7n8nN .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-ted9N7n8nN .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-ted9N7n8nN .mbr-gallery-item > div:hover:before {
  opacity: 0.6 !important;
}
.cid-ted9N7n8nN .mbr-gallery-item > div:hover .icon-focus {
  top: calc(50% - 24px);
}
.cid-ted9N7n8nN .mbr-gallery-filter-all > a {
  padding: 30px;
  color: #ffffff !important;
}
.cid-ted9N7n8nN .mbr-gallery-filter {
  padding-top: 0;
  padding-bottom: 2rem;
}
.cid-ted9N7n8nN .mbr-gallery-filter .btn {
  text-transform: uppercase;
  color: #ffffff !important;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0px !important;
  border: none;
  padding: 12px 15px 12px 15px;
}
.cid-ted9N7n8nN .mbr-gallery-filter .btn:hover {
  background: transparent;
  color: #ffbc00 !important;
}
.cid-ted9N7n8nN .mbr-gallery-filter ul {
  display: block;
}
.cid-ted9N7n8nN .mbr-gallery-filter ul li {
  position: relative;
}
.cid-ted9N7n8nN .mbr-gallery-filter li.active .btn {
  color: #ffbc00 !important;
  background: transparent;
}
.cid-ted9N7n8nN .mbr-gallery-filter li::after {
  bottom: 0.5rem;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  width: 4px;
  transition: all 0.3s ease-in-out;
  background: #ffbc00 !important;
}
.cid-ted9N7n8nN .mbr-gallery-filter li.active::after,
.cid-ted9N7n8nN .mbr-gallery-filter li:hover::after {
  -webkit-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  background: #ffbc00 !important;
}
.cid-ted9N7n8nN .mbr-gallery-title {
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-ted9N7n8nN .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #ffffff !important;
  opacity: 0.6;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-ted9N7n8nN .icon-focus:before {
  content: '\e95e';
}
.cid-ted9N7n8nN .icon-focus {
  transition: all .3s;
  font-size: 2rem !important;
  top: 50%;
  left: calc(50% - 24px);
  width: 48px;
  padding: 0 8px;
  border-radius: 50%;
  color: #444444 !important;
  background-color: #ffffff;
}
.cid-ted9N7n8nN .mbr-section-title {
  margin: 0;
}
.cid-ted9N7n8nN .underline {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
}
.cid-ted9N7n8nN .underline .line {
  width: 3rem;
  height: 2px;
  background: #ed9523;
  display: inline-block;
}
.cid-ted9N7n8nN .mbr-section-title,
.cid-ted9N7n8nN .underline {
  color: #ffffff;
}
.cid-teA7242IL8 {
  padding-top: 2rem;
  padding-bottom: 4rem;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-top: -3px;
  background: #fafafa;
}
.cid-teA7242IL8 .mbr-section-head {
  margin-bottom: 60px;
}
.cid-teA7242IL8 .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-teA7242IL8 .team-card:hover {
  transform: translateY(-10px);
}
.cid-teA7242IL8 .card-wrap .image-wrap img {
  object-fit: cover;
}
.cid-teA7242IL8 .button {
  margin: 100px auto 0;
}
@media (max-width: 767px) {
  .cid-teA7242IL8 .button {
    padding: 0 1rem;
  }
}
@media (max-width: 992px) {
  .cid-teA7242IL8 .button {
    padding: 0 30px;
  }
}
@media (min-width: 768px) {
  .cid-teA7242IL8 .button {
    justify-content: space-between;
    display: flex;
  }
}
@media (min-width: 1200px) {
  .cid-teA7242IL8 .button {
    max-width: 1000px;
  }
}
@media (min-width: 1400px) {
  .cid-teA7242IL8 .button {
    max-width: 1200px;
  }
}
.cid-teA7242IL8 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 140px;
  max-width: 140px;
}
@media (max-width: 768px) {
  .cid-teA7242IL8 .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-teA7242IL8 .embla__button--next,
.cid-teA7242IL8 .embla__button--prev {
  display: flex;
}
.cid-teA7242IL8 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .cid-teA7242IL8 .embla__button {
    display: none;
  }
}
.cid-teA7242IL8 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-teA7242IL8 .embla__button:hover {
  background: #000;
  color: rgba(255, 255, 255, 0.5);
}
.cid-teA7242IL8 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-teA7242IL8 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-teA7242IL8 .embla__button {
    top: auto;
  }
}
.cid-teA7242IL8 .embla {
  position: relative;
  width: 100%;
}
.cid-teA7242IL8 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-teA7242IL8 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-teA7242IL8 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-teA7242IL8 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-te8fx7lA6l {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #ed9523;
}
.cid-te8fx7lA6l .mbr-overlay {
  background-color: #000000;
  opacity: 0.6;
}
.cid-te8fx7lA6l form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-te8fx7lA6l form.mbr-form {
    padding: 3rem 2rem;
    width: 70%;
  }
}
@media (max-width: 991px) {
  .cid-te8fx7lA6l form.mbr-form {
    padding: 1rem;
  }
}
.cid-te8fx7lA6l form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-te8fx7lA6l form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-te8fx7lA6l .mbr-section-title {
  color: #ffffff;
}
.cid-te8a0yblTQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #303030;
}
@media (max-width: 767px) {
  .cid-te8a0yblTQ .content {
    text-align: center;
  }
  .cid-te8a0yblTQ .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-te8a0yblTQ .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-te8a0yblTQ .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-te8a0yblTQ .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-te8a0yblTQ .google-map {
  height: 25rem;
  position: relative;
}
.cid-te8a0yblTQ .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-te8a0yblTQ .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-te8a0yblTQ .google-map[data-state] {
  background: #e9e5dc;
}
.cid-te8a0yblTQ .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-te8a0yblTQ .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-te8a0yblTQ .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-te8a0yblTQ .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-te8a0yblTQ .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-te8a0yblTQ .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-te8a0yblTQ .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-te8a0yblTQ .list {
  list-style-type: none;
  padding: 0;
}
.cid-teAdo7wl6t {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-teAdo7wl6t .mbr-overlay {
  background-color: #000000;
  opacity: 0.4;
}
.cid-teAdo7wl6t .form-control,
.cid-teAdo7wl6t .field-input {
  padding: 0.5rem;
  background-color: #ed9523;
  border-color: #cccccc;
  color: #ffffff;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-teAdo7wl6t .form-control::-webkit-input-placeholder,
.cid-teAdo7wl6t .field-input::-webkit-input-placeholder,
.cid-teAdo7wl6t .form-control::-webkit-input-placeholder,
.cid-teAdo7wl6t .field-input::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-teAdo7wl6t .form-control:-moz-placeholder,
.cid-teAdo7wl6t .field-input:-moz-placeholder,
.cid-teAdo7wl6t .form-control:-moz-placeholder,
.cid-teAdo7wl6t .field-input:-moz-placeholder {
  color: #ffffff;
}
.cid-teAdo7wl6t .form-control:hover,
.cid-teAdo7wl6t .field-input:hover,
.cid-teAdo7wl6t .form-control:focus,
.cid-teAdo7wl6t .field-input:focus {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #232323;
  box-shadow: none;
  outline: none;
}
.cid-teAdo7wl6t .form-control:hover::-webkit-input-placeholder,
.cid-teAdo7wl6t .field-input:hover::-webkit-input-placeholder,
.cid-teAdo7wl6t .form-control:focus::-webkit-input-placeholder,
.cid-teAdo7wl6t .field-input:focus::-webkit-input-placeholder,
.cid-teAdo7wl6t .form-control:hover::-webkit-input-placeholder,
.cid-teAdo7wl6t .field-input:hover::-webkit-input-placeholder,
.cid-teAdo7wl6t .form-control:focus::-webkit-input-placeholder,
.cid-teAdo7wl6t .field-input:focus::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-teAdo7wl6t .form-control:hover:-moz-placeholder,
.cid-teAdo7wl6t .field-input:hover:-moz-placeholder,
.cid-teAdo7wl6t .form-control:focus:-moz-placeholder,
.cid-teAdo7wl6t .field-input:focus:-moz-placeholder,
.cid-teAdo7wl6t .form-control:hover:-moz-placeholder,
.cid-teAdo7wl6t .field-input:hover:-moz-placeholder,
.cid-teAdo7wl6t .form-control:focus:-moz-placeholder,
.cid-teAdo7wl6t .field-input:focus:-moz-placeholder {
  color: #ffffff;
}
.cid-teAdo7wl6t .jq-number__spin:hover,
.cid-teAdo7wl6t .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-teAdo7wl6t .jq-number__spin {
  background-color: #ed9523;
  border-color: #cccccc;
  color: #ffffff;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-teAdo7wl6t .jq-selectbox li,
.cid-teAdo7wl6t .jq-selectbox li {
  background-color: #ed9523;
  color: #000000;
}
.cid-teAdo7wl6t .jq-selectbox li:hover,
.cid-teAdo7wl6t .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-teAdo7wl6t .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-teAdo7wl6t .jq-number__spin.minus:hover:after,
.cid-teAdo7wl6t .jq-number__spin.plus:hover:after {
  border-top-color: #ed9523;
  border-bottom-color: #ed9523;
}
.cid-teAdo7wl6t .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-teAdo7wl6t .jq-number__spin.minus:after,
.cid-teAdo7wl6t .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-teAdo7wl6t input::-webkit-clear-button {
  display: none;
}
.cid-teAdo7wl6t input::-webkit-inner-spin-button {
  display: none;
}
.cid-teAdo7wl6t input::-webkit-outer-spin-button {
  display: none;
}
.cid-teAdo7wl6t input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-teAdo7wl6t H4 {
  color: #ffffff;
  text-align: center;
}
.cid-teAd3HNrdY {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 106px;
}
.cid-teAd3HNrdY nav.navbar {
  position: fixed;
}
.cid-teAd3HNrdY .dropdown-menu {
  padding: 0;
}
@media (min-width: 992px) {
  .cid-teAd3HNrdY .navbar:not(.collapsed) .dropdown-item {
    border-bottom: 1px solid #e6e6e6;
  }
  .cid-teAd3HNrdY .navbar:not(.collapsed) .dropdown-item:last-child {
    border: 0;
  }
}
.cid-teAd3HNrdY .nav-dropdown .link {
  padding: 0.7rem 0 !important;
  margin: 0rem 2rem !important;
}
.cid-teAd3HNrdY .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-teAd3HNrdY .nav-link,
.cid-teAd3HNrdY .dropdown-item {
  font-weight: 700;
}
.cid-teAd3HNrdY .nav-link {
  position: relative;
  background-size: 100% 0% !important;
  background-position: 0 70% !important;
  transition: background-size 0.2s ease-in !important;
  background-image: linear-gradient(120deg, #ffc658 0%, #ffc658 100%) !important;
}
.cid-teAd3HNrdY .nav-link:hover {
  background-size: 100% 80% !important;
  opacity: 1;
  transition: background-size 0.2s ease-in !important;
}
.cid-teAd3HNrdY .container {
  display: flex;
  margin: auto;
}
.cid-teAd3HNrdY .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-teAd3HNrdY .navbar-caption,
.cid-teAd3HNrdY .dropdown-item {
  background-image: none;
}
.cid-teAd3HNrdY .dropdown-menu,
.cid-teAd3HNrdY .navbar.opened {
  background: #ffffff !important;
}
.cid-teAd3HNrdY .nav-item:focus,
.cid-teAd3HNrdY .nav-link:focus {
  outline: none;
}
.cid-teAd3HNrdY .dropdown .dropdown-menu .dropdown-item {
  width: auto;
}
.cid-teAd3HNrdY .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-teAd3HNrdY .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-teAd3HNrdY .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-teAd3HNrdY .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-teAd3HNrdY .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-teAd3HNrdY .navbar {
  min-height: 106px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-teAd3HNrdY .navbar.opened {
  transition: all 0.3s;
}
.cid-teAd3HNrdY .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-teAd3HNrdY .navbar .navbar-logo img {
  width: auto;
}
.cid-teAd3HNrdY .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-teAd3HNrdY .navbar.collapsed {
  justify-content: center;
}
.cid-teAd3HNrdY .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-teAd3HNrdY .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-teAd3HNrdY .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-teAd3HNrdY .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-teAd3HNrdY .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-teAd3HNrdY .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-teAd3HNrdY .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-teAd3HNrdY .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-teAd3HNrdY .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-teAd3HNrdY .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-teAd3HNrdY .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-teAd3HNrdY .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-teAd3HNrdY .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-teAd3HNrdY .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-teAd3HNrdY .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-teAd3HNrdY .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-teAd3HNrdY .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-teAd3HNrdY .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-teAd3HNrdY .navbar.navbar-short {
  min-height: 106px;
}
.cid-teAd3HNrdY .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-teAd3HNrdY .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-teAd3HNrdY .navbar-brand {
  min-height: 106px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-teAd3HNrdY .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-teAd3HNrdY .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-teAd3HNrdY .dropdown-item.active,
.cid-teAd3HNrdY .dropdown-item:active {
  background-color: transparent;
}
.cid-teAd3HNrdY .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-teAd3HNrdY .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-teAd3HNrdY .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-teAd3HNrdY .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-teAd3HNrdY .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-teAd3HNrdY .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-teAd3HNrdY ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-teAd3HNrdY .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-teAd3HNrdY button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-teAd3HNrdY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-teAd3HNrdY button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-teAd3HNrdY button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-teAd3HNrdY button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-teAd3HNrdY button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-teAd3HNrdY nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-teAd3HNrdY nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-teAd3HNrdY nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-teAd3HNrdY nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-teAd3HNrdY .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-teAd3HNrdY a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-teAd3HNrdY .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-teAd3HNrdY .navbar {
    height: 70px;
  }
  .cid-teAd3HNrdY .navbar.opened {
    height: auto;
  }
  .cid-teAd3HNrdY .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-teAd3HNrdY .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-teAd3HNrdY .nav-item a {
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-teAd3KwzlT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #303030;
}
@media (max-width: 767px) {
  .cid-teAd3KwzlT .content {
    text-align: center;
  }
  .cid-teAd3KwzlT .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-teAd3KwzlT .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-teAd3KwzlT .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-teAd3KwzlT .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: 0.05;
}
.cid-teAd3KwzlT .google-map {
  height: 25rem;
  position: relative;
}
.cid-teAd3KwzlT .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-teAd3KwzlT .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-teAd3KwzlT .google-map[data-state] {
  background: #e9e5dc;
}
.cid-teAd3KwzlT .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-teAd3KwzlT .social-list {
  padding-left: 0;
  margin-bottom: 0;
  margin-left: -7px;
  list-style: none;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-teAd3KwzlT .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-teAd3KwzlT .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-teAd3KwzlT .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-teAd3KwzlT .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-teAd3KwzlT .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-teAd3KwzlT .list {
  list-style-type: none;
  padding: 0;
}
